<launch>
    <arg name="machine"                                 default=""/>
    <arg name="output"                                  default="screen"/>

    <arg name="run_as_nodelet"                          default="true"/>
    <arg name="nodelet_manager"                         default="segmenter_nodelet_manager"/>
    <arg name="nodelet_namespace"                       default="cloud_segmenter"/>
    <arg name="start_nodelet_manager"                   default="true"/>

    <arg name="segmenter_yaml"                          default="$(find erdc_cloud_segmenter)/config/segmenter.yaml"/>

    <node if="$(eval arg('start_nodelet_manager') and arg('run_as_nodelet'))" 
        ns="$(arg nodelet_namespace)" name="$(arg nodelet_manager)" 
        pkg="nodelet" type="nodelet" args="manager" machine="$(arg machine)" output="screen"/>

    <!-- Load Parameters -->
    <rosparam command="load" ns="$(arg nodelet_namespace)" file="$(arg segmenter_yaml)"/>

    <!-- Launch as Nodelet -->
    <group if="$(arg run_as_nodelet)">
        <!-- Launch detection_nodelet -->
        <node ns="$(arg nodelet_namespace)" name="segmenter_nodelet" 
              pkg="nodelet" type="nodelet" args="load erdc_cloud_segmenter/segmenter_nodelet /$(arg nodelet_namespace)/$(arg nodelet_manager)" 
              machine="$(arg machine)" output="$(arg output)"/>
    </group>

    <!-- Launch as Node -->
    <group unless="$(arg run_as_nodelet)">
        <!-- Launch detection_node -->
        <node ns="$(arg nodelet_namespace)" name="segmenter_node" 
              pkg="erdc_cloud_segmenter" type="segmenter" 
              machine="$(arg machine)" output="$(arg output)"/>
    </group>
   
</launch>
