<launch>
    <arg name="run_as_nodelet"                          default="true"/>
    <arg name="nodelet_manager"                         default="segmenter_nodelet_manager"/>
    <arg name="nodelet_namespace"                       default="cloud_segmentor"/>
    <arg name="start_nodelet_manager"                   default="true"/>

    <arg name="tracker_yaml"                          default="$(find cloud_segmentor)/config/tracker.yaml"/>

    <node if="$(eval arg('start_nodelet_manager') and arg('run_as_nodelet'))" 
        ns="$(arg nodelet_namespace)" name="$(arg nodelet_manager)" 
        pkg="nodelet" type="nodelet" args="manager" output="screen"/>

    <!-- Load Parameters -->
    <rosparam command="load" ns="$(arg nodelet_namespace)" file="$(arg tracker_yaml)"/>
    
    <!-- Launch as Nodelet -->
    <group if="$(arg run_as_nodelet)">
        <node ns="$(arg nodelet_namespace)" name="segmenter_node" pkg="nodelet" type="nodelet" args="load cloud_segmentor/segmenter_nodelet /$(arg nodelet_namespace)/$(arg nodelet_manager)" output="screen"/>
        <node ns="$(arg nodelet_namespace)" name="tracker_node" pkg="nodelet" type="nodelet" args="load cloud_segmentor/tracker_nodelet /$(arg nodelet_namespace)/$(arg nodelet_manager)" output="screen"/>
    </group>

    <!-- Launch as Node -->
    <group unless="$(arg run_as_nodelet)">
        <node ns="$(arg nodelet_namespace)" name="segmenter_node" pkg="cloud_segmentor" type="segmenter" output="screen"/>
        <node ns="$(arg nodelet_namespace)" name="tracker_node" pkg="cloud_segmentor" type="tracker" output="screen"/>
    </group>
   
</launch>
